<div class="container">
  <h1>Movies</h1>
  <p><%= link_to "Create a movie", new_movie_path %></p>
  <div class="cards-container">
    <%@movies.each do |movie| %>
      <div class="movie-card">
        <div>
          <h4><%=movie.name %> <small><%=link_to "update", edit_movie_path(movie.id) %></small></h4>
          <small><%=movie.description%></small>
          <p><%= link_to "see more", movie_path(movie.id), class: "btn btn-primary mt-3" %></p>
          <% if movie.photo.attached? == false %>
            <%= image_tag("https://images.theconversation.com/files/392339/original/file-20210329-17-1vm95zi.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=300&h=300.0&fit=crop") %>
          <% else %>
            <%= cl_image_tag movie.photo.key, height: 300, width: 300, crop: :fill %>
          <% end %>
        </div>
        <div>
          <%= link_to "X", movie_path(movie.id), class: "btn btn-primary", method: :delete  %>
        </div>
      </div>
    <%end %>
  </div>

</div>
